<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head> -->
<%- include("includes/head.ejs") %>
<body>
    <h1>This page belongs to @<%= data.name %></h1>
    <h3>Followers</h3>
    <h4><%= data.followers %></h4>

    <h3>Following</h3>
    <h4><%= data.following %></h4>

    <hr>

    <% for(let post of data.posts) { %>
        <img style="height: 180px; width: 250px;" src="<%= post.image %>" alt="some image" />
    <% } %>

    <button>Follow</button>
    <button>Message</button>

    <%- include("includes/footer.ejs") %>
</body>
</html>