<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Users</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>All users</h1>
    <table>
        <tr>
            <th>Sno.</th>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
            <% let c = 1; %>
            <% for(user of result) { %>
            <tr>
                <td><%= c %></td>
                <td><%= user.id %></td>
                <td><%= user.username%></td>
                <td><%= user.email %></td>
                <td>
                <form method="GET" action="/user/<%= user.id %>/edit">
                    <button>Edit username</button>
                </form>
            </td>
            </tr>
            <% c+=1; } %>
        
    </table>
</body>
</html>