<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
    <h3>Edit this Listing</h3>
    <div class="col-8 offset-2">
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" class="form-control" value="<%= listing.title %>" required>
            <div class="invalid-feedback">Enter a valid title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Enter a valid description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image URL</label>
            <input type="text" name="listing[image]" class="form-control" value="<%= listing.image %>" required>
            <div class="invalid-feedback">Enter a valid image URL/link</div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-3">
                <label for="price" class="price">Price</label>
                <input type="number" name="listing[price]" class="form-control" value="<%= listing.price %>" required>
                <div class="invalid-feedback">Enter a valid price</div>
            </div>
            <div class="mb-3 col-md-3">
                <label for="country" class="country">Country</label>
                <input type="text" name="listing[country]" value="<%= listing.country %>" required>
                <div class="invalid-feedback">Enter a country name</div>
            </div>
            <div class="mb-3 col-md-3">
                <label for="location" class="location">Location</label>
                <input type="text" name="listing[location]" value="<%= listing.location %>" required>
                <div class="invalid-feedback">Enter a valid location</div>
            </div>
        </div>
        <button class="btn btn-dark">Edit</button>
    </form>
</div>
</div>